:root{
    --fc : rgb(26, 23, 151);
    --sc : rgb(184, 21, 21);
}
body{
    /* height: 4000px; */
    background-color: #FFF;
   
}
@keyframes bganim {
  from {background-position: left;}
  to {background-position: right;}
}
/* =========================== top-of-page ======================== */
.top-of-page{
    padding-top: 250px;
    background-image: url(https://elmasria-auto.com/files/53382_1558949847.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.top-of-page .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.top-of-page-font-size{
    font-size: 40px;
    font-weight: bold;
}
.list-colors{
    color: #FFF;
}
/* =========================== swiper ======================== */
.first-swiper{
    position: relative;
    height: 600px;
    width: 100%;
  }

  .first-swiper{
    background: transparent;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .first-swiper .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .first-swiper .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .first-swiper .gallery-top {
    height: 80%;
    width: 100%;
  }

  .first-swiper .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .first-swiper .gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }

  .first-swiper .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .special-arrows{
      color: Var(--fc)!important;
      transition: all 0.3s;
  }
  .special-arrows:hover{
      color: var(--sc)!important;
  }
  .swiper-back-ground{
      background-size: contain!important;
      background-repeat: no-repeat;
      overflow: hidden;
  }
  .carinfo-icon{
      font-size: 30px;
      color: #ccc;
  }
  .data-size{
      font-size: 17px;
      color: #333!important;
  }
  .yearsize{
      font-size: 11px!important;
  }
  .table-icon-color{
      color: var(--fc)!important;
      
  }
  /* ---------------- Cars Picked for you ---------------- */
  .image-in-cards{

    height: 220px;
    
    object-fit: cover;
}

  .special-title-of-card{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-price{
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
  }
  .card-info{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.7;
  }
  .nowraptext{
    white-space: nowrap!important;
   
  }
  .card{
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
  }
.card:hover{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)!important;
}
.new{
  position: absolute;
  background-color: var(--fc);
  padding: 5px 10px;
  top: 20px;
  right: 10px;
  background: linear-gradient(to right, var(--fc) 20%, #175597 40% ,  var(--fc) 60%, #175597 80%);
  background-size: 200%;
  animation: bganim 1s alternate infinite;
  color: #FFF;
  text-align: center;
}
/* ============================ second swiper ========================== */
.second-swiper{
  position: relative;
  height: 100px;
  background: transparent;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.second-swiper .swiper-container {
  width: 90%;
  height: 100%;
}

.second-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer!important;
}
.second-swiper .swiper-slide img{
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
.special-arrows:focus{
  outline: none;
  border: none;
}
.special-border{
  border:none!important;
}
.popularbrandstext{
  position: relative;
}
.popularbrandstext::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/section.png);
  background-repeat: no-repeat;
  padding-bottom: 40px;
   margin-bottom: 35px;
  margin-top: 0;
  height: 100px;
  width: 100%;
  transform: rotate(90deg);
}
.Cars-Picked-for-you-title
{
  text-align: center;
  background-image: url(../images/section.png);
  background-repeat: no-repeat;
  background-position: bottom ;
  padding-bottom: 40px;

 
}

@media (max-width: 576px){
  .special-border{
    border:none!important;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
.popularbrandstext{
    border:none!important;
    text-align: center;
    background-image: url(../images/section.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 40px;
    margin-bottom: 35px;
    margin-top: 0;
  }
  .popularbrandstext::before{
   display: none!important;
  }
}
@media (max-width: 768px){
  .popularbrandstext::before{
    content: '';
    position: absolute;
    top: 0;
    right: -80%;
    background-image: url(../images/section.png);
    background-repeat: no-repeat;
    padding-bottom: 40px;
    margin-bottom: 35px;
    margin-top: 0;
    height: 100px;
    width: 200%;
    transform: rotate(90deg);
  }
  
}
