/* form */

.form-con {
    margin-top: 150px;
    background-color: rgba(rgba(88, 87, 87, 0.459), rgba(150, 151, 150, 0.486), rgba(109, 109, 112, 0.521), 0.5);
}


/*Button */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 2000px; */
}

:root {
    --fc: rgb(26, 23, 151);
    --sc: rgb(184, 21, 21);
}

@keyframes bganim {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}


/* Nav */

.custom-nav {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%!important;
    padding: .5rem 0rem;
    z-index: 9999;
    transition: all .5s ease-in;
    background-color: transparent;
}

.custom-nav .navbar>a {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.custom-nav .navbar>a span,
.welcome-caption h2 span {
    color: var(--sc);
}

.custom-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    color: white;
    opacity: .1;
    height: 2px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
}

.navbar-collapse .navbar-nav .nav-item>a {
    color: white;
    font-size: 18px;
    opacity: .9;
    font-weight: 500;
    transition: color .4s;
}

.navbar-collapse .navbar-nav .nav-item>a:hover {
    color: rgb(184, 21, 21) !important;
}

.logo {
    width: 50%;
    height: 50%;
    vertical-align: middle;
    display: block;
    /* margin-left: 50px; */
}

.btn-st {
    background-color: transparent;
    color: whitesmoke;
    border: 1 solid whitesmoke;
}

.btn-st:hover {
    background: linear-gradient(45deg, var(--fc) 15%, #2e69b8 65%);
    color: whitesmoke;
}

.btn-st-scroll {
    background-color: var(--fc);
    color: whitesmoke;
    border: 0 !important;
}

.btn-st-scroll:hover {
    background: linear-gradient(45deg, var(--sc) 15%, #f0515e 65%);
    color: whitesmoke;
}

.btn-span-col {
    background-color: #47a9ff;
}


/* End Nav */


/* Div Swiper */

#header {
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header-caption .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-caption {
    height: 100%;
    text-align: center;
}

.header-caption .caption>h1 {
    color: white;
    opacity: .9;
    font-size: 50px;
    font-weight: bold;
}

.header-caption .caption>span {
    color: rgb(250, 250, 250);
    font-weight: 500;
    display: block;
    padding-bottom: 10px;
    font-size: large;
}

.header-caption .caption .wel {
    font-size: 40px;
    color: var(--fc);
    background: linear-gradient(to right, rgb(30, 2, 151) 20%, #4c98f0 40%, rgb(30, 2, 151) 60%, #61a0e7 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: bganim 1s alternate infinite;
}

.header-caption .caption p {
    color: white;
    opacity: .9;
    width: 50%;
    font-size: 18px;
    padding: 20px 0px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.212);
}


/* End Swiper */


/* btn up */

.btn-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    z-index: 9999999;
}

.btn-up a i {
    color: white !important;
}


/* end of btn up */


/* Cars Brand */

.sec-1 .row .text {
    width: 100%;
    margin: 100px;
}

.sec-1 .row .text h1 {
    background-image: url("../images/section.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 40px;
    margin-bottom: 35px;
    /* margin-top: 0; */
}

.sec-1 .row .brand-con {
    position: relative;
    width: 100%;
    margin-bottom: 120px;
    transition: all ease-in-out;
}

.sec-1 .row .brand-img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.sec-1 .row .brand-con .over {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.sec-1 .row .brand-con h3 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.sec-1 .row .brand-con:hover .over {
    background-color: rgba(0, 0, 0, 0.603);
    color: whitesmoke;
    cursor: pointer;
    height: 100%;
}


/* End Cars Brand */


/* Start filter and Footer*/

.h1,
h1 {
    font-size: 2.5rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, .5)!important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

li>a:hover {
    color: var(--sc)!important;
}

li a p:hover {
    color: var(--sc)important;
}

.mainTextColor {
    color: var(--sc);
}


}
.linkSize {
    font-size: 17px;
}
.icon-size {
    font-size: 20px;
    padding-top: 12px;
}
.icon-size2 {
    font-size: 20px;
    padding-top: 3px;
}
.contact {
    position: relative;
    border: none;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    transition: all 0.5s;
    z-index: 988;
    color: #FFF!important;
}
.contact2 {
    position: relative;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    transition: all 0.5s;
    z-index: 988;
    color: #FFF!important;
}
.contact2 i {
    font-size: 16px;
}
.contact i {
    font-size: 20px;
}
.contact:hover,
.contact2:hover {
    color: #FFF;
    background-image: linear-gradient(to right, #ee5d60 0%, var(--sc) 40%);
}
.contact:focus,
.contact2:focus {
    outline: none;
}
.fifth-background .nav-n {
    z-index: 995;
    position: fixed!important;
    top: 0;
    width: 100%;
    visibility: visible!important;
}
.fifth-background .nav-n button {
    z-index: 995;
}
.responsive-search {
    background: none!important;
    border: none!important;
    border-radius: none!important;
}
.responsive-search span {
    font-size: 22px!important;
    line-height: 0.4!important;
}
.no-border {
    border: none!important;
    font-size: 17px!important;
}

/* ===========================  #GRID   =========================== */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
}
.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cool-2 {
    width: -webkit-calc((100% - 20px) / 2);
    width: -moz-calc((100% - 20px) / 2);
    width: calc((100% - 20px) / 2);
}
@media (max-width: 767px) {
    .cool-2 {
        width: 100%;
    }
}

/* =========================   #BOX-SIZING  =============================== */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
button {
    outline: none;
    background: none;
    border: none;
    font-family: inherit;
}

/* ===========================  #PAGE WRAPPER  =========================== */
.page-wrapper {
    min-height: 55vh;
}
body {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* =======================   #BACKGROUND   =============================== */
.bg-color-2 {
    background-color: #000;
}

/* ==============================  #SPACING  ============================== */
.p-t-290 {
    padding-top: 60px;
}
@media (max-width: 767px) {
    .p-t-290 {
        padding-top: 120px;
    }
}

/* ===========================  #WRAPPER  ================================= */
.wrapper {
    margin: 0 auto;
}
.wrapper--w1226 {
    max-width: 1226px;
}

/* ============================  #BUTTON   =============================== */
.btn-submit {
    display: block;
    width: 30%;
    line-height: 60px;
    font-family: inherit;
    background: #00ad5f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 0px auto;
    margin-top: 30px;
}
.btn-submit:hover {
    background: #00994b;
}

/* ====================     #FORM  ================================ */
input,
textarea {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 88%;
    font-size: 18px;
    font-family: inherit;
}
input:disabled {
    cursor: pointer;
}
button {
    cursor: pointer;
}

/* ====================  input  ========================= */
.input-group {
    position: relative;
    margin-top: 12px;
    display: block;
}
.label {
    font-size: 18px;
    color: #fff;
    padding-left: 8px;
    text-transform: capitalize;
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}
.input--style-1 {
    font-size: 18px;
    padding: 16.5px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #666;
    background: #fff;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================  dropdown =============================== */
.dropdown-select {
    font-family: "Lato", "Arial", "Helvetica Neue", sans-serif;
    min-width: 210px;
    left: 0;
    right: 0;
    top: -webkit-calc(100% + 2px);
    top: -moz-calc(100% + 2px);
    top: calc(100% + 2px);
    background: #fff;
    z-index: 999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 13.5px 20px;
    padding-right: 25px;
}
.dropdown-select.show {
    display: block;
}

/* =================================  car   ========================== */
.car-5 {
    position: relative;
    background: transparent;
}
.car-5::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #0c148dc2 0%, #033968 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.9;
}
.car-5 .car-body {
    padding: 59px 55px;
    padding-bottom: 50px;
}
@media (max-width: 767px) {
    .car-5 .car-body {
        padding: 40px 30px;
        padding-bottom: 55px;
    }
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width:768px) {
    .responsive_result {
        display: block;
        margin: auto!important;
        grid-template: auto;
    }
}

/************* start call-us *************/
.call-us {
    background-image: url("../images/pratik-gupta-WAHFUbmTTzM-unsplash.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}
.call-us div {
    margin: 0 auto;
    padding-top: 230px;
    text-align: center;
}
.call-us button {
    text-transform: uppercase;
    background: linear-gradient(to right, #00ad5f 0%, #00ad5f 40%);
    letter-spacing: 1px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s;
}
.call-us button:hover {
    cursor: pointer;
    background-color: #048524;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contactdiv .form {
    border-radius: 2px;
    padding: 20px 30px;
    box-shadow: 0 0 15px;
    font-size: 14px;
    font-weight: bold;
    width: 350px;
    margin: 20px 250px 0 35px;
    float: left;
}
.contactdiv .form label {
    text-align: left;
}
.contactdiv input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
}
.contactdiv input[type=button] {
    background-color: #123456;
    border: 1px solid white;
    font-family: 'Fauna One', serif;
    border-radius: 8px;
    font-Weight: bold;
    font-size: 18px;
    color: white;
    width: 49%;
}
.contactdiv textarea {
    width: 100%;
    height: 80px;
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    resize: none;
}
#contactdiv {
    opacity: 0.92;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
    z-index: 100;
}
#contact {
    width: 450px;
    margin: 0px;
    background-color: white;
    font-family: 'Fauna One', serif;
    position: relative;
    border: 5px solid #123456;
}
.contactdiv .img {
    float: right;
    width: 28px;
    height: 28px;
    margin-top: -35px;
    margin-right: -37px;
}
#contact {
    left: 50%;
    top: 50%;
    margin-left: -210px;
    margin-top: -255px;
}

/*================================= end call-us ============================================ */

/*================================= start bigFooter ============================================ */
.fifth-background {
    background-color: #191919;
}
.sixth-background {
    background-color: #131313;
}
.light-color {
    color: #F5F5F5;
}
.contact {
    position: relative;
    border: none;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    transition: all 0.5s;
    z-index: 988;
    color: #FFF!important;
}
.footer-paragraph {
    line-height: 1.7;
    font-size: 17px;
    color: rgba(255, 255, 255, .5)!important;
}
.bigFooter-logo {
    font-size: 40px;
    color: var(--fc);
    background: linear-gradient(to right, rgb(30, 2, 151) 20%, #4c98f0 40%, rgb(30, 2, 151) 60%, #61a0e7 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: bganim 1s alternate infinite;
}
.bigFooter-logo-icons {
    font-size: 22px;
}
.bigFooter-logo-icons2 {
    padding-top: 3px;
    font-size: 18px;
}
.bigFooter-logo-icons2-text {
    font-size: 18px;
}
.bigFooter-special-list {
    margin: 0!important;
    padding: 0!important;
}
.bigFooter-contact-button {
    color: #FFF;
    background-color: transparent!important;
    border: 2px solid;
    border-image-source: linear-gradient(to right, #ee5d60 0%, var(--sc) 40%);
    border-image-slice: 1;
    font-size: 16px!important;
}
.bigFooter-contact-buttons {
    color: rgba(255, 255, 255, 0.45);
    background-color: transparent!important;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-image-source: none;
    font-size: 14px!important;
    transition: all 0.5s;
}
.bigFooter-contact-buttons:hover {
    background: linear-gradient(to right, #ee5d60 0%, var(--sc) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image-source: linear-gradient(to right, #ee5d60 0%, var(--sc) 40%);
    border-image-slice: 1;
    transition: all 0.5s;
}
@media(max-width:768px) {
    .responsive-big-footer {
        text-align: center;
    }
    
    .responsive-big-footer-ul {
        text-align: center!important;
        margin: auto!important;
    }
    
    .responsive-big-footer-ul-2 {
        text-align: center!important;
        margin: auto!important;
        justify-content: center!important;
    }
}

/*================================= end bigFooter ============================================ */

/*================================= start smallFooter ============================================ */
.smallfooter-p {
    font-size: 15px !important;
}
.smallfooter-link:hover {
    text-decoration: none;
    color: var(--sc);
}

/*================================= end smallFooter ============================================ */

/* ================================= buttom to top ================================= */
.button-to-top {
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #EEE;
    z-index: 99;
    text-align: center;
    line-height: 8.8;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.5s;
    display: none;
}
.button-to-top:hover {
    opacity: 1;
    box-shadow: -2px 11px 8px #999 !important;
}
.buttom-to-top-icon {
    font-size: 60px;
}

/* End Filter and Footer */